<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiyexy.dao.common.UserDao">
    <resultMap id="UserResultMap" type="com.yiyexy.model.common.User">
        <id column="id" property="uid"/>
        <result column="icon" property="icon"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="qq" property="qq"/>
        <result column="type" property="type"/>
        <result column="mobile" property="mobile"/>
        <result column="good_apprise" property="goodApprise"/>
        <result column="bad_apprise" property="badApprise"/>
        <result column="update_pwd_count" property="updatePwdCount"/>
    </resultMap>

    <!--根据用户名和密码查询用户-->
    <select id="getUser" resultMap="UserResultMap" parameterType="com.yiyexy.model.common.User">
        SELECT
        id, icon, user_name, qq, type, mobile, good_apprise, bad_apprise
        FROM
        user
        WHERE 1 = 1
        <if test="user.mobile != null">
            AND mobile = #{user.mobile}
        </if>
        <if test="user.password != null">
            AND password = #{user.password}
        </if>
    </select>

    <!--用户注册-->
    <insert id="insertUser" parameterType="com.yiyexy.model.common.User" useGeneratedKeys="true" keyProperty="user.uid">
        <if test="user.password != null and user.mobile != null">
            INSERT INTO
            user (mobile, password)
            VALUES (#{user.mobile}, #{user.password});
        </if>
    </insert>

    <!--判断用户名是否存在-->
    <select id="isExistUserName" parameterType="String" resultType="int">
        <if test="userName != null">
            SELECT
            COUNT(*)
            FROM
            user
            WHERE user_name = #{userName};
        </if>
    </select>

    <!--判断手机号码是否存在-->
    <select id="isExistMobile" parameterType="String" resultType="int">
        <if test="mobile != null">
            SELECT
            COUNT(*)
            FROM
            user
            WHERE mobile = #{mobile};
        </if>
    </select>

    <!--根据手机号码修改用户名-->
    <update id="updateUserName" parameterType="com.yiyexy.model.common.User">
        <if test="user.obile != null and user.userName != null">
            UPDATE
            user
            SET user_name = #{user.userName}
            WHERE mobile = #{user.mobile};
        </if>
    </update>

    <!--根据手机号码修改用户密码-->
    <update id="updatePassword" parameterType="com.yiyexy.model.common.User">
        <if test="user.mobile != null and user.password != null">
            UPDATE
            user
            SET
            password = #{user.password}
            WHERE mobile = #{user.mobile};
        </if>
    </update>

    <!--根据手机号码修改用户的qq信息-->
    <update id="updateQQ" parameterType="com.yiyexy.model.common.User">
        <if test="user.mobile != null and user.qq != null">
            UPDATE
            user
            SET
            qq = #{user.qq}
            WHERE mobile = #{user.mobile};
        </if>
    </update>

    <!--根据手机号码查询用户的 updatePwdCount 字段-->
    <select id="getUpdatePwdCount" parameterType="String" resultType="int">
        <if test="mobile != null">
            SELECT
            update_pwd_count
            FROM
            user
            WHERE mobile = #{mobile};
        </if>
    </select>

    <!--根据id获得用户信息-->
    <select id="getUserById" parameterType="Integer" resultMap="UserResultMap">
        <if test="uid != null">
            SELECT
            id, icon, user_name, qq, type, mobile, good_apprise, bad_apprise
            FROM
            user
            WHERE id = #{uid};
        </if>
    </select>

    <!--验证手机号码和密码是否匹配-->
    <select id="getUidByMobileAndPassword" parameterType="com.yiyexy.model.common.User" resultType="Integer">
        <if test="user.mobile != null and user.password != null">
            SELECT
            id
            FROM
            user
            WHERE mobile = #{user.mobile} AND password = #{user.password};
        </if>
    </select>

    <!--查询拼车信息的成员-->
    <select id="getUserByIid" parameterType="int" resultMap="UserResultMap">
        SELECT
        u.id, u.icon, u.user_name, u.qq, u.mobile
        FROM
        user u
        LEFT JOIN member m
		ON u.id = m.id1
		OR u.id = m.id2
		OR u.id = m.id3
		OR u.id = m.id4
		OR u.id = m.id5
		OR u.id = m.id6
		WHERE m.main_id = #{iid};
    </select>
</mapper>
